.hero {
    float: inline-start;
    width: 100vw;
    height: 40vw;
    text-align: center;
    vertical-align: middle;
    background-position: center top;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Related\ Files/hero_image_windTurbine.jpg);
}

.hero span {
    float: right;
    margin-top: 15%;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 15%;
}

.hero span h1 {
   font-family: Oswald, sans-serif;
   color: white;
}

.hero span a:link, .hero span a:visited {
    color: white;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    background-color: mediumseagreen;
    padding: 10px;
    border-radius: 10px;
}

